.logoStrip {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
  gap: 3rem;
}

.imageContainer {
  position: relative;
  height: 4rem;
  width: 10rem;
}

@media (min-width: 768px) {
  .logoStrip {
    gap: 4rem;
  }

  .imageContainer {
    height: 6rem;
    width: 12rem;
  }
}
