.button {
  display: inline-block;
  padding: 2rem 4rem;
  background-color: var(--magenta);
  color: var(--white);
  box-shadow: var(--float-shadow);

  &:hover {
    background-color: var(--magentaBright);
  }
}