:root {
  --white: #ffffff;
  --grey: #777777;
  --black: #141414;
  --magenta: #ae004b;
  --magentaBright: #cf1e6b;
  --float-shadow: rgba(61, 61, 61, 0.3) 0px 1rem 3rem;
  --tablet: 768px;
  --deskop: 1280px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 8px;
  font-family: sans-serif;
  color: var(--black);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.xxl {
  font-size: 8rem;
}

.xl {
  font-size: 6rem;
}

.l {
  font-size: 4rem;
}

.m {
  font-size: 2.5rem;
}

h1,
.h1 {
  font-size: 5rem;
  font-weight: 700;
}

h2,
.h2 {
  font-size: 3rem;
  font-weight: 700;
}

h3,
.h3 {
  font-size: 2.5rem;
  font-weight: 600;
}

h4,
.h4 {
  font-size: 2.5rem;
  font-weight: 600;
}

p,
.p {
  margin: 1.5rem 0;
}

small,
.small {
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  h1,
  .h1 {
    font-size: 6rem;
  }

  h2,
  .h2 {
    font-size: 4rem;
  }

  h3,
  .h3 {
    font-size: 3rem;
  }
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.mt4 {
  margin-top: 4rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.mb4 {
  margin-bottom: 4rem;
}
