.maxWidthParent {
  margin: 0 2rem;
}

.maxWidthChild {
  max-width: 135rem;
  margin: auto;
}

.hero {
  padding: 8rem 0 16rem 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 4rem;
  align-items: center;
  margin-bottom: 8rem;
  position: relative;
}

.heroTitle {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.heroCallToActionContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.heroCallToActionContainer a {
  margin-top: 2rem;
}

.profileImage {
  position: absolute;
  bottom: -2rem;
  right: 0;
  background-color: var(--black);
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  box-shadow: var(--float-shadow);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoStripContainer {
  margin: 12rem 0;
}

.profileAndSummaryGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 4rem;
  align-items: flex-start;
}

.profile {
  max-width: 80rem;
}

.summaryInfoGrid {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 10rem;
}

.formContainer {
  margin-top: 8rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 50rem;
  margin: 2rem 0;
  gap: 2rem;
}

.form label {
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
}

.form input, .form textarea {
  margin-top: 1rem;
  border: 3px solid var(--magenta);
  padding: 1rem;
}

.form button {
  justify-self: flex-end;
}

.footer {
  background-color: var(--magenta);
  color: var(--white);
  text-align: center;
  margin-top: 8rem;
  padding: 4rem;
}

@media (min-width: 768px) {
  .hero {
    grid-template-columns: 2fr 1fr;
  }

  .heroCallToActionContainer {
    align-items: flex-end;
  }

  .maxWidthParent {
    margin: 0 4rem;
  }
}

@media (min-width: 1080px) {
  .profileAndSummaryGrid {
    grid-template-columns: 1fr 50rem;
  }

  .profile {
    max-width: unset;
  }
}
