.page {

}

.maxWidthParent {
  margin: 0 2rem;
}

.maxWidthChild {
  max-width: 135rem;
  margin: auto;
}

.hero {
  padding: 8rem 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.heroTitle {
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: -2rem;
}

.heroCallToActionContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;

  a {
    margin-top: 2rem;
  }
}

.main {
}

.footer {
}